<div class="row">
  <div class="col-md-12">
    <nb-card class="cardcolor">
      <nb-card-header >
        <h1 style="text-align:center" class="text-success">Anuncios</h1>
      </nb-card-header>
      <nb-card-body>
        <p>Proxima Coevaluación</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Evaluación Parcial
      </nb-card-header>
      <nb-card-body>
        (16-09-2022) - (18-09-2022)
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Evaluación Final
      </nb-card-header>
      <nb-card-body>
       (21-11-2022) - (23-11-2022)
      </nb-card-body>
    </nb-card>
  </div>

</div>

