<nb-card>
  <nb-card-header style=" text-align:center">
    <h5 class="text-success">Alumnos</h5> 
  </nb-card-header>

  <nb-card-body>
  
    <div class="row nb-1">
      <div class="col-md-4">
        <button nbButton [status]="'primary'">
          Carga masiva
        </button>
      </div>
      <label class="search-label" for="search"></label>
      <input nbInput  id="search" class="search-input" placeholder="Buscar">
</div>
<br>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
