<nb-card>
  <nb-card-header>
    Estudiantes
  </nb-card-header>

  <nb-card-body>
  
    <div class="row nb-1">
      <div class="col-md-6">
        <button nbButton [status]="'primary'">
          Carga masiva
        </button>
      </div>
    </div>

    <div class="col-md-6 text-right">
      <label class="search-label" for="search">Search:</label>
      <input nbInput  id="search" class="search-input">
    </div>

    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
