<div class="row">
  <div class="col-lg-6">

    <nb-card>
      <nb-card-header style=" text-align:center">
        <nb-select selected="1" [status]="'primary'" hero>
          <nb-option value="1">Periodo</nb-option>
          <nb-option value="2">enero</nb-option>
          <nb-option value="2">abril</nb-option>
        </nb-select>
      </nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header style=" text-align:center">
        <nb-select selected="1" [status]="'primary'" hero>
          <nb-option value="1">Año</nb-option>
          <nb-option value="2">2020</nb-option>
          <nb-option value="2">2021</nb-option>
        </nb-select>
      </nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie2></ngx-echarts-pie2>
      </nb-card-body>
    </nb-card>
  </div>
</div>
